#common-footer {
	a:focus {
		outline: solid 2px currentColor;
		outline-offset: 4px !important;
	}
}

#springshare-footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: var(--pcom-body-padding);
	background: var(--pcom-cool-gray);
	border-top: solid 2px var(--pcom-dark-blue);
	font-size: .875rem;

	span {
		padding: 0 .1875rem;
	}
}

#pcomlib-footer {
	background-color: var(--pcom-dark-blue);
	padding: var(--pcom-body-padding);
	position: relative;
	text-align: center;

	nav {
		margin: .5em 0 .75em;;
	}

	a {
		color: var(--pcom-white);
		text-decoration: none;
	}

	a:focus {
		outline: solid 2px currentColor;
		outline-offset: 4px !important;
	}
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		margin: 0;
	}
	nav ul li {
		display: inline-block;
	}
}

nav#pcomlib-footer-links ul li {
	padding: 0 0.5rem;
	line-height: 1.75;

	a {
		display: inline-block;
		padding: 0.125rem 0;
		line-height: normal;
		white-space: nowrap;
	}
	a:hover {
		text-decoration: underline;
	}
	a:focus {
		outline-offset: 4px;
	}
}

nav#pcomlib-social-links ul li {
	a {
		text-align: center;
		height: 2.5rem;
		width: 2.5rem;
		line-height: 2.5rem;
		border-radius: 50%;
		display: block;
		border: solid 2px transparent;
		
		span {
			font-size: 1.125rem;
		}
	}

		border-color: var(--pcom-white);
	a:hover {
	}
	a:focus {
		outline-offset: 2px;
		outline-color: var(--pcom-white);
	}

	a.mail {
		background-color: var(--pcom-yellow);
		color: var(--pcom-text);
	}

	a.calendar {
		background-color: var(--pcom-blue);
	}

	a.youtube {
		background-color: var(--pcom-dark-red);
	}
}
nav#pcomlib-social-links ul li + li {
	margin-left: .375rem;
}

#pcom-links-footer {
	font-size: .75rem;
	outline-offset: -3px;
	padding: var(--pcom-body-padding);
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	display: flex;
	background: var(--pcom-text);
	color: var(--pcom-white);

	a {
		color: var(--pcom-white);
		text-decoration: none;
	}

	ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: stretch;
	}
	ul li {
  		display: inline-block;
  		margin-bottom: 0;
  		align-self: center;
  		padding: 0 .5em;
	}
	a {
		display: block;
		line-height: 1;
		white-space: nowrap;
	}
	a:hover {
		text-decoration: underline;
	}
	a img {
		height: 2em;
	}
	li + li a {
		position: relative;
		top: .25em;
	}
}

#pcom-copyright {
	text-align: right;
	font-size: .75rem;

	span {
		display: block;
	}
}

@media only screen and (max-width: 40rem) {
	#pcom-links-footer {
		display: block;
	}
	#pcom-copyright {
		margin: .75rem 0;
		text-align: center;
	}
}